{% extends "layout.html" %}
{% block title %}
Our Topics
{% endblock %}

{% block main %}
<h1 class="title-text">our topics.</h1>
<p>Explore the broad variety of subjects that students can choose from, and find what you can teach or learn next.</p>
<hr>
{% for level, topics in levels.items() %}
<h4>{{ level }}</h4>
<div class="row">
    {% for topic in topics %}
    <div class="col-12 col-lg-4">
        <a href="/topic/{{ topic['id'] }}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title title-text">{{ topic["topic"] }}</h5>
                    <hr>
                    <p>{{ topic["description"] }}</p>
                    <p>Your progress to mastery:</p>
                    <div class="progress">
                        <div class="progress-bar" style="width:{{ topic['mastery'] }}%" role="progressbar" aria-valuenow="{{ topic['mastery'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<hr>
{% endfor %}
{% endblock %}

{% block script %}
<script>
let progressBars = document.getElementsByClassName("progress-bar");

for (bar of progressBars)
{
    if (bar.getAttribute("aria-valuenow") == "100")
    {
        bar.innerHTML = "Mastered!";
    }
}
</script>
{% endblock %}